{% extends 'base.html' %}


{% block title %}Account{% endblock %}

{% block content %}
    <div class="row mt-5">
        <div class="col-lg-2">
            {% if user_obj.avatar %}
                <img class="avatar" src="{{ user_obj.avatar.url }}" alt="user picture">
            {% endif %}
        </div>
        <div class="col-lg-9 ms-5">
            <div class="row">
                <div class="col-lg-2">
                    <sapn class="user_full_name"
                    >{{ user_obj.username }}</sapn>
                </div>
                <div class="col-lg-2"><a class="btn btn-light" href="{% url 'change' user_obj.pk %}">Edit
                    Account</a>
                </div>
                <div class="col-lg-1">
                    {% if user.is_authenticated %}
                        <a class="btn btn-light" href="{% url "logout" %}">Logout</a>
                    {% else %}
                        <a href="{% url 'login' %}">Login</a>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <snap class="">{{ user_obj.birth_date|date:'d.m.Y' }}</snap>
            </div>
             <div class="row col-lg-6">
                <span class="col">subscribers: </span>
                 <span class="col">subscriptions: </span>
                   <span class="col">posts: </span>
            </div>
            <div class="row">
                <span class="">{{ user_obj.email }} </span>
            </div>
            <div class="row">
                {% if user_obj != user %}
                    <form action="" method="POST">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-primary" value="Subscribe">
                        <input type="hidden" id="cust_id" name="cust_id" value="{{ user_obj.id }}">
                    </form>
                {% else %}
                    <div class="row mt-2">
                        <a class="btn btn-light col-lg-7" href="{% url "add_post" %}">Add Post</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <h2 class="text-center clear"> posts:</h2>
    {% include 'partial/posts.html' %}

{% endblock %}